---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Is it daylight saving?">
	<main>
		<h1>Is it daylight saving?</h1>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}

</style>
