---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Is it daylight saving?">
	<main>
		<h1>Is it daylight saving time?</h1>
		<is-dst class="huge-text"/>
		<p class="locality">
			Based on your current timezone<span id="timezone"></span>.
		</p>
		<p class="dst-info" id="info">

		</p>
	</main>
</Layout>


<script>
	import { DateTime, Info } from 'luxon';

		function isDaylightSavingTime() {
			const now = DateTime.local();
			return now.isInDST;
			}

		function hasDaylightSavingTime() {
			return Info.hasDST();
			}

		class isDST extends HTMLElement {
			constructor() {
				super();
				this.attachShadow({mode: 'open'});
				}
			connectedCallback() {
				this.shadowRoot.innerHTML = isDaylightSavingTime() ? 'Yes.' : 'No.';
				this.classList.add(isDaylightSavingTime() ? 'yes' : 'no');

				if(hasDaylightSavingTime()){
					document.getElementById('timezone').innerHTML = ` ${DateTime.local().zoneName}`;
					}else{
					document.getElementById('timezone').innerHTML = ` ${DateTime.local().zoneName} there is no daylight saving time`;
					}
				}

			}


		customElements.define('is-dst', isDST);


</script>
<style lang="scss" is:global>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 65ch;
		flex-direction: column;
		display: flex;
		align-items: center;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.huge-text {
		font-family: Impact, sans-serif;
		font-size: 20rem;
		font-weight: 800;

		@media(max-width: 600px) {
			font-size: 10rem;
		}
	}

</style>