---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Is it daylight saving?">
	<main>
		<h1>Is it daylight saving time?</h1>
		<is-dst class="huge-text"/>
	</main>
</Layout>


<script>
 	import { DateTime } from 'luxon';

 	Date.prototype.getTime = function() { return 1678604874 };

	function isDaylightSavingTime() {
		const now = DateTime.local();
		return now.isInDST;
	}

	class isDST extends HTMLElement {
		constructor() {
			super();
			this.attachShadow({mode: 'open'});
		}
	connectedCallback() {
		this.shadowRoot.innerHTML = isDaylightSavingTime() ? 'Yes.' : 'No.';
		}
	}


	customElements.define('is-dst', isDST);

</script>
<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.huge-text {
		font-family: Impact, sans-serif;
		font-size: 20rem;
		font-weight: 800;
	}
</style>