---
import Layout from '../../layouts/Layout.astro';


const request = new Request('https://www.timeapi.io/api/TimeZone/AvailableTimeZones');

const response = await fetch(request)

const alltimezones = await response.json();

const timezones = [];

const tz_groups = alltimezones.map((timezone) => {
    return timezone.split('/')[0];
}).filter((value, index, self) => {
    return self.indexOf(value) === index;
});

tz_groups.map((group) => {
    const group_timezones = alltimezones.filter((timezone) => {
        return timezone.startsWith(group);
    });

    timezones[group] = group_timezones;
});

console.log(timezones);

---


<Layout title="TimeZones">
    <main>
        <h1>Available TimeZones</h1>
        <ul>
            {tz_groups.map((group) => <li> <h2>{group} </h2> <ul> {timezones[group].map((zone) =>  <li>  <a href={zone}>{zone}</a></li> ) } </ul>  </li>)}
        </ul>
    </main>
</Layout>

<style lang="scss">
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    main > ul {
        list-style: none;
        columns: 3;

      & > li {
          break-inside: avoid-column;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
        }

        @media(max-width: 1000px) {
            columns: 2;
        }

        @media(max-width: 600px) {
          columns: 1;
        }
    }

</style>

<script>
    //if site doesn't have trailing slash, add it
    if (!location.pathname.endsWith('/')) {
        location.pathname += '/';
    }
</script>